.gallery {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: 0 auto;
    gap: 2rem;
    
  }