.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screenshot-wrap{
    width: 60%;
    padding: 10px;
    border: 5px solid brown;
    border-radius: 10px;
}
.screenshot{
    height: auto;
    width: 90%
}
.about{
    text-align: justify;
    line-height: 1.5;
    max-width: 1000px;
    /* margin: 20px 100px; */
}
.links a{
    margin: 20px;
}

